<h1>New food for <%= @inventory.name %> </h1>
<p>
  If you need a food that isn't in the list, you can add it 
  <%= link_to "here.", foods_path %>
</p>
<% if @foods.blank? %>
  <p>The list of available foods is empty!</p>
<% else %>
  <p>Choice one of the following foods:</p>
  <%= form_with model: @inventory_food, url: inventory_inventory_foods_path(@inventory.id), method: :post do |form| %>
    <%= form.collection_radio_buttons :food_id, @foods, :id, :name_with_unit do |item| %>
      <%= item.label { item.radio_button + " " + item.text } %><br>
    <% end %>
    <br>  
    <%= form.label :quantity, "Quantity (in the corresponding unit)" %><br>
    <%= form.number_field :quantity %><br>
    <br>
    <%= form.submit "Add food" %>
  <% end %>
<% end %>